@font-face {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
}

/*Feuille style CSS de base */
body {
    font: 16px 'Raleway';
    margin: auto;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divImage {
    height: 19px;
}

.divImage img {
    width: 61px;
}

nav {
    display: flex;
}

.navA {
    display: flex;
    padding: 33px;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid transparent;
    cursor: pointer;
}

/*les mots deviennent bleu lorsque le curseur passe dessus */
.navA:hover {
    color: #0065FC;
    border-color: #0065FC;
}

/* contenu majoritaire */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
}

/*Trouvez votre hébergement pour des vacances de rêves */
.titreSection {
    font-size: 22px;
    margin-bottom: 0;
}

/*Formulaire de recherche */
#divBarredeRecherche {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

#divLocalisation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

.IconMap {
    font-size: 20px;
}

/*Zone d'écriture de recherche des villes */
.inputsearch {
    padding-right: 50px;
    padding-left: 16px;
    height: 50px;
    border: 1px solid #F2F2F2;
    outline: none;
}

/*couleur et taille du texte dans le champs de saisie des villes */
::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/*Bouton bleu de recherche */
.buttonRechercher {
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    color: white;
}

/*Ne pas faire apparaître l'icône de la loupe pour écran desktop*/
.loupe {
    display: none;
}

.Rechercher {
    display: block;
}

/*Partie Filtres*/
.divFiltres {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.filtres {
    font-weight: 700;
}

.texteFiltres {
    margin-right: 20px;
}

.boutonFiltres {
    display: flex;
    justify-content: space-between;
}

.divtitreFiltres {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    cursor: pointer;
    padding-inline: 20px;
    margin-right: 40px;
    height: 50px;
}

/*Le fond des titres filtres devient bleu pâle au survol du curseur*/
.divtitreFiltres:hover {
    background: #DEEBFF;
}

.filtreIcons {
    color: #0065FC;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}   

/*INFO ICONE*/
.info {
    display: flex;
    align-items: center;
}

/*Icone mis en couleur bleu*/
    .couleurbleu {
        color: #0065FC;
        padding-left: 9px;
        padding-top: 3px;
    }

.parentIcon {
    width: 25px;
    height: 25px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 10px;
}

/*Nouvelles règles pour écrans de moins de 992px de large*/
@media all and (min-width : 992px) {

    body {
        width: 1400px;
    }
}

/*Nouvelles règles pour tablettes si la fenêtre plus de 768px de large*/
@media screen and (min-width : 768px) and (max-width : 992px) {

    body {
        padding-inline: 6%;
    }

    h3 {
        font-size: 16px;
        font-weight: 900;
    }

    #divBarredeRecherche {
        padding-top: 5px;
    }

    .divFiltres {
        margin-bottom: 20px;
    }

    .divtitreFiltres {
        margin-right: 10px;
        height: 40px;
        padding-inline: 15px;
    }

    .texteFiltres {
        margin-right: 10px;
    }

    .filtreIcons {
        margin-right: 0;
        padding-left: 0;
    }    
}

/*nouvelles règles pour mobiles si la fenêtre fais en-dessous de 768px*/
@media screen and (max-width : 768px) {

    body {
        margin: 0;
    }

    header {
        flex-direction: column;
        align-items: normal;
    }

    .divImage {
        padding-top: 21px;
        padding-bottom: 25px;
        justify-content: center;
    }

    .navA {
        width: 45%;
        padding: 5%;
        justify-content: center;
        border-top: none;
        border-bottom: solid #F2F2F2;
        cursor: pointer;
    }

    #sectionRecherche {
        padding-inline: 6%;
    }

    .titreSection {
        margin-top: 30px;
        padding-right: 10%;
    }

    div {
        display: flex;
    }

    .infoSection {
        margin-bottom: 36px;
    }

    #divBarredeRecherche {
        padding-top: 0;
    }

    .IconMap {
        font-size: 18px;
    }

    .buttonRechercher {
        padding-inline: 3%;
        width: 50px;
    }

    /*Ne pas faire apparaître le mot "Rechercher" pour version mobile*/
    .Rechercher {
        display: none;
        font-size: 18px;
    }

    .loupe {
        display: block;
        font-size: 15px;
    }

    .divFiltres {
        display: block;
        margin-top: 34px;
        margin-bottom: 15px;
    }

    .boutonFiltres {
        display: flex;
        flex-wrap: wrap;
    }

    .divtitreFiltres {
        justify-content: left;
        flex: 2;
        margin-right: 0;
        margin-block: 10px;
        margin-left: 5px;
        padding-inline: 4%;
        font-size: 62%;
    }

    .texteFiltres {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .filtreIcons {
        padding-left: 0;
        font-size: 18px;
        margin-right: 0;
    }

    .info {
        align-items: baseline;
        font-size: 97%;
    }

    .parentIcon {
        width: 22px;
        height: 17px;
        border-radius: 20px;
    }

    .couleurbleu {
        padding-left: 6px;
        padding-top: 3px;
        font-size: 12px;
    }
}